// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
display: block;
max-width:230px;
max-height:230px;
width: auto;
height: auto;
}
