<h1> INDEX </h1>

<% @products.each do |product| %>
  <%= link_to product.name, product %><br>
<% end %>

<!-- <h4>YOUR CART: </h4>
  <%if flash[:message]%>
  <%= flash[:message] %>
  <% end %>
  <ul> -->
